<title>Summary</title>
{% load render_table from django_tables2 %}

{% if state %}

    <!doctype html>
    <html>
        <h1><strong>State: </strong>{{state.state}}</h1>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        </head>
        <body>
            {% render_table state_table %}
        </body>
    </html>

{% else %}
    <p>There are no state.</p>
{% endif %}


{% if settings %}
    <!doctype html>
    <html>
        <h4>Avaiable Settings</h4>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        </head>
        <body>
            {% render_table settings %}
        </body>
    </html>

{% else %}
    <p>There are no setting.</p>
{% endif %}