<meta http-equiv="refresh" content="5" />

<title>Smart Window Summary</title>
{% load render_table from django_tables2 %}

<div style="margin-left: 25px; margin-right: 25px">
{% if state %}

    <!doctype html>
    <html>
        <h1><strong>State: </strong>{{text}}</h1>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        </head>
        <body>
            {% render_table state_table %}
        </body>
    </html>

{% else %}
    <p>There are no state.</p>
{% endif %}

{% if settings %}
    <!doctype html>
    <html>
        <p></p>
        <h4><strong>Current Setting</strong></h4>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        </head>
        <body>
            {% render_table settings %}
        </body>
    </html>

{% else %}
    <p>There are no setting.</p>
{% endif %}

</div>
